html {
  width: 500px;
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
  overscroll-behavior: none;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.popup-root {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-subjects {
  max-height: 200px;
  overflow-y: auto;
}
    
